<div>
  <form>
    <div class="row">
      <div class="col-md-4">
          <label for="companyCode" class="form-label">Company Code</label>
          <input type="text" class="form-control" id="companyCode">
      </div>
      <div class="col-md-4">
          <label for="stockPrice" class="form-label">Stock Price</label>
          <input type="number" class="form-control" id="stockPrice">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Stock</button>
      </div>
    </div>
  </form>
</div>
